.typing-area {
    font-size: 20px;
    height: 130px;
}

.disabled-field {
    background-color: lightgray;
}

.red-border {
    border: 4px solid red;
}

.green-border {
    border: 4px solid greenyellow;
}

.phrase {
    font-size: 20px;
    text-align: left;
}

.icons {
    vertical-align: middle;
}

#phrase-id {
    width: 40px;
}

.leaderboard {
    display: none;
}

body {
    overflow: scroll;
}

#spinner {
    display: none;
}

#sync-button {
    float: right;
}